<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.AppointmentMapper">

    <select id="getAllAppointments" resultType="com.applet.bean.vo.AppointmentInfo">
        select id,name,phone,day,time_range,content,status from
        appointment where admin_id=#{id} and TO_DAYS(day)-TO_DAYS(NOW())>=0
    </select>

    <select id="getTodayAppointments" resultType="com.applet.bean.vo.AppointmentInfo">
        select id,name,phone,day,time_range,content,status from
        appointment where admin_id=#{id} and day=date(now())
    </select>

</mapper>